# Update these with your Supabase details from your project settings > API
NEXT_PUBLIC_SUPABASE_URL=https://gohmpslrywzzqvbqwwdd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvaG1wc2xyeXd6enF2YnF3d2RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIyMTczMTIsImV4cCI6MjA4Nzc5MzMxMn0.0FrW3zGwiYuJf1az7EfzAv3UWgNI3_rmpFZzSGEBZs4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdvaG1wc2xyeXd6enF2YnF3d2RkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjIxNzMxMiwiZXhwIjoyMDg3NzkzMzEyfQ.hTnEAdRawHgYbfETvjqBbbxuvGv2NfY07EGwa9gvyXA
SUPABASE_DB_PASSWORD=DJglTkufNNiKspHd

# Update these with your Stripe credentials from https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51T5WpkBLFgKUbiruNx6QLVw94hNzx6fZoaHSf7HCwFaHVedoCag2ixKB92rXetU8DJ1BxhCA43zDVuMRybABygb200Ysm7PfKH
STRIPE_SECRET_KEY=sk_test_51T5WpkBLFgKUbiruqeyamTwL8Dnhbk58xqc1Cjfcww2Y6TDXDKoQFvxTCHvljLPi8sDPvyyaQqeT6vfNHk6xN27n00e3lHIj5a
STRIPE_WEBHOOK_SECRET=whsec_2e75e75851e85dfddc6f5bc18d6e645975a0cb51aa6b4c35384d3f8450e397d9

# Update this with your resend.com credentials from https://resend.com/api-keys
RESEND_API_KEY=re_LmemN3Tu_AV5dceso4hovpBvzEnmt2Z9P

# Env
NEXT_PUBLIC_SITE_URL=http://localhost:3000
